{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": true,
  "printWidth": 100,
  "vetur.format.defaultFormatterOptions": {
    "prettier": {
      "singleQuote": true,
      "arrowParens": "always"
    }
  }
}
