.menu {
  background: #1F2225;
  width: 50px;
}

.menu-item {
  width: 40px;
  height: 40px;
}

.menu-image {
  width: 30px;
  height: 30px;
}

.menu-selected {
  background-color: #56585C !important;
  border-radius: 10px !important;
}

.menu-top {
  height: 85%;
}

.menu-bottom {
  height: 15%;
}

.menu-actions {
  width: 50px;
  bottom: 0;
  padding-bottom: 10px;
  position: absolute;
  background-color: #1F2225;
}