.menu {
  background: #1F2225;
  width: 50px;
}

.menu-item {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;;
}

.menu-top {
  height: 85vh;
}

.menu-bottom {
  height: 15vh;
}