.setting-container {
  height: 30px;
  margin-bottom: 20px;
}

.setting-button {
  align-self: center;
}

.setting-button-text {
  font-size: 10px;
  text-transform: lowercase;
}

.setting-label {
  width: 40vw;
  overflow-x: scroll;
}

.setting-editable-label {
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 45vw;
}

.setting-image {
  width: 30px;
  height: 30px;
}

.setting-description {
  font-size: 12px;
  margin-top: 4px;
}