.setting-button {
  background-color: #777171 !important;
  align-self: center;
}

.setting-button-text {
  font-size: 10px;
  text-transform: lowercase;
}

.setting-label {
  width: 50vw;
  margin: 5px 0;
  overflow-x: scroll;
}

.setting-image {
  width: 30px;
  height: 30px;
}