.setting-container {
  height: 30px;
  margin-bottom: 20px;
}

.setting-button {
  background-color: #777171 !important;
  align-self: center;
}

.setting-button-text {
  font-size: 10px;
  text-transform: lowercase;
}

.setting-label {
  max-width: 45vw;
  margin: 15px 0 0 0;
  overflow-x: scroll;
}

.setting-image {
  width: 30px;
  height: 30px;
}
