.settings-container {
  margin-top: 5vh;
  width: 60vw;
}

.setting-button {
  background-color: #777171 !important;
  /* width: 20px; */
  align-self: center;
}

.setting-button-text {
  font-size: 10px;
  text-transform: lowercase;
}