.search-bar {
  height: 70px;
  width: 100%;
  background: #56585C;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-input {
  height: 75%;
  width: 95%;
  justify-content: center;
}
