.dialog-accent-color {
  width: 106px;
  height: 100px;
  margin: 5px !important;
  border-radius: 10px !important;
}

.dialog-font-family {
  width: 106px;
  height: 100px;
  margin: 5px !important;
  border-radius: 10px !important;
}

.dialog-window-behaviour {
  width: 184px;
  height: 100px;
  margin: 5px !important;
  border-radius: 10px !important;
}
