body {
  font-family: 'Courier New', Courier, monospace; 
  background-color: #303136;
}

.bg-primary {
  background: #303136;
}

.bg-secondary {
  background: #1F2225;
}

.primary {
  color: #fff;
}

.secondary {
  color: #B33939;
}

.tertiary {
  color: #227093;
}

.quaternary {
  color: #CCAE62;
}
