body {
  font-family: 'Courier New', Courier, monospace; 
  background-color: #303136;
}

button:focus {
  outline: none;
}

.bg-primary {
  background: #303136 !important;
}

.bg-secondary {
  background: #1F2225 !important;
}

.bg-red {
  background:red !important;
}

.bg-blue {
  background: blue !important;
}

.primary {
  color: #fff;
}

.secondary {
  color: #B33939;
}

.tertiary {
  color: #227093;
}

.quaternary {
  color: #CCAE62;
}
